/* global parameters */


body {
  position: sticky;
  margin: 0;
  padding:  0;
  /* box-sizing: border-box; */
  background-image: url(https://i.imgur.com/zl3m8tg.jpg);
}

.h1 {
  position: sticky;
  text-align: center;
  color: white;

}

.game {
  position: absolute;
  top: 4rem;
  left: 40%;
  transform; translate(-50%);
  max-width: 500px;
  max-height: 470px;
  background-image: url(https://i.imgur.com/AtDf5cT.jpg);
  border: 1px solid black;
  box-shadow: 4px, 5px, black;
  padding: 1.5rem;
  /* clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); */
  /* background-blend-mode:  */
}

.slots {
  width: 75px;
  height: 70px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}


.scoreboard {
  display: grid;
  color: white;
  bottom: 500rem;
  grid-template-columns: 1fr 1fr;
  width: 300px;
  font-family: quicksand, sans-serif;
  padding: 20px 20px 20px 20px;
}

.scoreboardName,
.playerScore {
  padding: 10px;
  text-align: center;
}

.scoreboardName {
  font-weight: bold;
  border-bottom: 1px solid white;
}

#player1Score {
  color: green;
  font-weight: bolder;
  font-size: 40px;
}

#player2Score {
  color: purple;
  font-weight: bolder;
  font-size: 40px;
}

.form1,
.form2 {
  color: white;
  padding: 20px 20px 20px 20px;

}

.form1{
  position: absolute;
  top: 100%;

}

.form2{
  position: absolute;
  top: 150%;

}

.colorButton {
  position: sticky;
  color: red;
  left: 10%;
  padding: 10px 20px 10px 20px;
}





/* End of Sheet  */
